.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .pay-btn {
    background-color: #ce2d42;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .pay-btn:hover {
    background-color: #a82434;
  }
  